.colored { color:#bc2231;}
.link { color:#bc2231;}
.color-line { background:#bc2231}
a.button_readmore:hover {
	background-color:#bc2231;
}
.new-item { 
	background-color:#bc2231;
}
.featured { 
	background-color:#bc2231;
}
.more{
	background-color:#bc2231;
}
.ca-more{
	background-color:#bc2231;
}
.ca-close{
	background-color:#bc2231;
}
.ca-item .title { 
	background-color:#bc2231;
}
.mega-button {
	background-color:#bc2231;
}
.ca-content .live {
	background-color:#bc2231;
}

.ca-content .buy {
	background-color:#bc2231;
}
.va-slice h3:hover{
	color:#bc2231;
}
.va-slice ul li a{
	background:#bc2231;
}
.va-more{
	background-color:#bc2231;
}