﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="VisualGov.Site1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>VisualGov Solutions LLC</title>
<link href="css/reset.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/colorpicker.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="css/nivo-default.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/nivo-slider.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/prettyPhoto.css" type="text/css" media="screen" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script type="text/javascript" src="js/twitter.js"></script>
<script type="text/javascript" src="js/tabs.js"></script>
<script type="text/javascript" src="js/slides.min.jquery.js"></script>
<script type="text/javascript" src="js/nivo-slider/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript" src="js/superfish-menu/hoverIntent.js"></script>
<script type="text/javascript" src="js/superfish-menu/superfish.js"></script>
<script type="text/javascript" src="js/scrolltop/scrolltopcontrol.js"></script>
<script type="text/javascript" src="js/prettyPhoto/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="js/jquery.featureList-1.0.0.js"></script>
<script type="text/javascript" src="js/swfobject/swfobject.js"></script>
<script type="text/javascript" src="js/easing/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/jquery.iconmenu.js"></script>
<script type="text/javascript" src="js/kwicks/jquery.kwicks-1.5.1.pack.js"></script>
<script type="text/javascript" src="js/mosaic/mosaic.1.0.1.js"></script>
<script type="text/javascript" src="js/jquery.tipsy.js"></script>
<script type="text/javascript" src="js/jquery.quicksand.js"></script>
<script type="text/javascript" src="js/jquery.tablesorter.js"></script>
<script type="text/javascript" src="js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="js/jquery.contentcarousel.js"></script>
<script type="text/javascript" src="js/jquery.vaccordion.js"></script>
<!--GOOGLE FONTS-->
<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' />
<!--/GOOGLE FONTS-->
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
    <body>
    <form id="form1" runat="server">
    <!-- MAIN WRAPPER -->
	<div class="main-wrapper">
    	<!-- MAIN CONTAINER -->
    		<!-- HEADER -->
            <div class="color-line"></div>
            <div class="clear"></div>
        	<div class="container">
            <div class="span-8 logo">
            	<a href="default.aspx"><img src="images/visualgov.png" title="Logo" alt="Logo" /></a>
            </div>
            <div class="span-16 last">
            	<div class="menu-right"></div>
            	<ul class="sf-menu">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">About Us</a>
                        <ul>
                            <li><a href="homepage-nivo.html">Nivo Slider</a></li>
                            <li><a href="homepage-accordian-slider.html">Accordian Slider</a></li>
                            <li><a href="homepage-3d-slider.html">3D Slider</a></li>
                            <li><a href="homepage-video-block.html">Video Block</a></li>
                            <li><a href="homepage-grid.html">Grid Homepage</a></li>
                            <li><a href="homepage-static.html">Static Homepage</a></li>
                        </ul>
                    </li>
                    <li><a href="">Products</a>
                        <ul>
                            <li><a href="headings.html">Headings</a></li>
                            <li><a href="blockquotes.html">Blockquotes</a></li>
                            <li><a href="dropcaps.html">Dropcaps</a></li>
                            <li><a href="highlight.html">Text Highlight</a></li>
                            <li><a href="column-layouts.html">Column Layouts</a></li>
                            <li><a href="pricing-tables.html">Pricing and Tables</a></li>
                            <li><a href="buttons.html">Buttons</a></li>
                            <li><a href="icons.html">Icons</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Services</a>
                        <ul>
                            <li><a href="">4 column Layout</a>
                                <ul>
                                    <li><a href="leftcont.html">Left + Content</a></li>
                                    <li><a href="leftleftcont.html">Left + Left + Content</a></li>
                                    <li><a href="contright.html">Content + Right</a></li>
                                    <li><a href="contrightright.html">Content + Right + Right</a></li>
                                    <li><a href="leftcontright.html">Left + Content + Right</a></li>
                                    <li><a href="fullwidh.html">Full Width</a></li>
                                </ul>
                            </li>
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="news.html">News Archive</a></li>
                            <li><a href="services.html">Our Services</a></li>
                            <li><a href="our-team.html">Our Team</a></li>
                            <li><a href="testimonials.html">Clients Testimonials</a></li>
                            <li><a href="jobs.html">Career and Job</a></li>
                            <li><a href="faq.html">F.A.Q</a></li>
                            <li><a href="404.html">404 Error</a></li>
                        </ul>
                    </li>
                  <%--  <li><a href="#">Portfolio</a>
                        <ul>
                            <li><a href="2-column-portfolio.html">2 Columns Portfolio</a></li>
                            <li><a href="3-column-portfolio.html">3 Columns Portfolio</a></li>
                            <li><a href="4-column-portfolio.html">4 Columns Portfolio</a></li>
                            <li><a href="portfolio-with-sidebar.html">Portfolio With Sidebar</a></li>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="portfolio-details.html">Portfolio Details</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Blog</a>
                        <ul>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="blog-2.html">Blog Style II</a></li>
                            <li><a href="blog-post.html">Blog Post</a></li>
                        </ul>
                    </li>--%>
                    <li><a href="contact-us.aspx">Contact us</a></li>		
                </ul>
                <div class="menu-left"></div>
            </div>
            <!-- END HEADER -->
            <div class="span-24 separator"></div>
            
            <!-- MAIN CONTENT -->
	  		 <div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
        <!-- END FROM PORTFOLIO -->
		<!-- FOOTER -->
		<div class="footer-line-top-wrapper">
            <div class="footer-container">
                <div class="span-24 notopmargin footer-top-line">
                    <div class="span-6 notopmargin">
                    <h6>Our Recent tweets</h6>
                    </div>
                    <div class="span-18 notopmargin last">
                        <div id="jstwitter">
						</div>
                	</div>
            	</div>
        	</div>
            <div class="clear"></div>
    	</div>
        <div class="clear"></div>
        <div class="footer-wrapper">
            <div class="footer-container">
                <div class="span-24 notopmargin">
                    <div class="span-24 footer notopmargin">
                        <div class="span-6 notopmargin">
                            <h6><a class="link">VisualGov Solutions</a> LLC</h6>
                            <p class="small">We have been providing cost effective solutions to state and local governments since 1999.</p>
                        </div>
                        <div class="span-6 notopmargin">
                            <h6>Fresh from blog</h6>
                            <p class="small"><a href="blob-post.html" class="link"> Some blog-post title witk link goes here</a></p>
                            <div class="flickr item left"><a class="" href=""><img src="images/gallery/flickr-5.jpg" alt="" /></a></div>
                            <p class="small">Lorem Ipsum is simply dummy text of the printing and typesett-ing industry. Lorem Ipsum is simply dummy text.</p>
                        </div>
                        <div class="span-6 notopmargin">
                            <h6>Flickr Gallery</h6>
                            <div class="flickr item left"><a class="" href=""><img src="images/gallery/flickr-1.jpg" alt="" /></a></div>
                            <div class="flickr item left"><a class="" href=""><img src="images/gallery/flickr-2.jpg" alt="" /></a></div>
                            <div class="flickr item left"><a class="" href=""><img src="images/gallery/flickr-3.jpg" alt="" /></a></div>
                            <div class="flickr item left last"><a class="" href=""><img src="images/gallery/flickr-4.jpg" alt="" /></a></div>
                            <div class="flickr item left"><a class="" href=""><img src="images/gallery/flickr-5.jpg" alt="" /></a></div>
                            <div class="flickr item left"><a class="" href=""><img src="images/gallery/flickr-6.jpg" alt="" /></a></div>
                            <div class="flickr item left"><a class="" href=""><img src="images/gallery/flickr-7.jpg" alt="" /></a></div>
                            <div class="flickr item left last"><a class="" href=""><img src="images/gallery/flickr-2.jpg" alt="" /></a></div>
                        </div>
                        <div class="span-6 notopmargin last">
                            <h6>Contact info</h6>
                            <p class="small">13039 Linebuagh Ave Suite 102, Tampa, FL 336345<br/> Phone: <span class="strong">(813) 925-3703</span></p>
                            <div class="span-6 notopmargin follow last"><span class="strong em left">Follow us on:</span></div>
                            <div class="tweet-icon">
                                <a href="http://www.twitter.com/visualgov" target="_blank" class='social' title='Twitter'><img src="images/1px.png" alt="" width="26px" height="26px" /></a>
                            </div>
                            <div class="facebook-icon">
                                <a href="http://www.facebook.com/VisualGov" class='social' title='Facebook'><img src="images/1px.png" alt="" width="26px" height="26px" /></a>
                            </div>
                            <div class="vimeo-icon">
                                <a href="http://vimeopro.com/user13186559/visualgov-products" class='social' title='Vimeo'><img src="images/1px.png" alt="" width="26px" height="26px" /></a>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
            <div class="clear"></div>
		</div>
        <div class="footer-line-wrapper">
            <div class="footer-container">
                <div class="span-24 notopmargin footer-line">
                    <div class="span-10 notopmargin">
                        <p>Copyright 2012 VisualGov <a class="link" href="http://www.visualgov.com" target="_blank">VisualGov</a></p>
                    </div>
                    <div class="span-14 notopmargin last">
                    	<p class="right"><a class="link" href="">Home</a> / <a class="link" href="">About Us</a> / <a class="link" href="">Products</a> / <a class="link" href="">Services</a> / <a class="link" href="">Portfolio</a> / <a class="link" href="">Blog</a> / <a class="link" href="">Contact</a></p>
                	</div>
            	</div>
                <div class="clear"></div>
        	</div>
    	</div>
    </div>
	<!-- END MAIN CONTENT -->
	<!-- END FOOTER -->
    <div class="clear"></div>

    
   
    </form>
</body>
</html>